body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    font-size: 14px;

    color: #fff;

    line-height: 24px;

    margin: 0;

}



* {
box-sizing: border-box; /* делается для изменения расчета ширины и высоты у блоков */
}

*::after, *::before {
box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
}

hr {
    border: 0;
    background-color: #e5e5e5;   /* Стилизуем разделитель блоков по умолчанию */
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    
    }

.container {
width: 100%;

max-width: 990px;
margin: 0 auto;

padding: 0 15px;
}

/* section */

.section {
padding: 70px 0;

}

.section--our_team {
width: 100%;
background: url(../Images/our_teem/bgteam.jpg) no-repeat center;
background-size: cover;
}

/* Header */



.header {
position: absolute;  /* ПРописывается position ablosult что бы после добавления bg у inner header был на нем */
top: 0;
left: 0;
right: 0;
z-index: 1000;

padding: 10px 0;

}


.header.fixed {
position: fixed;
background-color: #2d274b;

margin: 0;

opacity: 0.9;
}

.header_inner {
display: flex;
justify-content: space-between;

align-items: center;
}


.header_logo {
min-width: 131px;
cursor: pointer;
}

.header_img {
max-width: 100%;
float: left;
padding-right: 10px;
}

.logo_text {
font-size: 30px;
font-weight: 300;
color: #13d1cf;

padding-top: 12px;
}


/* NAv */

.nav {

    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;

}

.nav-toggle {
display: none;
position: absolute;
top: 30px;
right: 23px;
z-index: 1000;

width: 30px;
background: none;

font-size: 0;
color: inherit;
border: 0;

cursor: pointer;
}


.nav-toggle:focus {
outline: 0;
}

.nav-toggle_item {
    display: block;

    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;

    transition: 0.1s; /* для айтема что бы плавно убирался background */
    }


.nav-toggle_item::after, .nav-toggle_item::before {
content: "";
display: block;
width: 100%;
height: 3px;

background-color: #fff;

position: absolute;
left: 0;
top: 8px;

transition: 0.1s ; /* траситион для бефор и афтера */
}

.nav-toggle_item::after {
top: -8px;
}


.nav-toggle.active .nav-toggle_item {

    background: none;
}    

.nav-toggle.active .nav-toggle_item::before {

    transform-origin: right top;
    transform: rotate(45deg) translateY(4px);
    
    }
    
    
    .nav-toggle.active .nav-toggle_item::after {
    
        transform-origin: right bottom;
        transform: rotate(-45deg) translateY(-4px);
        }


.nav_link {
display: inline-block;

vertical-align: top;
text-decoration: none;


color: #fff;

margin: 5px 25px 5px 0;

transition: 0.1s;
}

.nav_link.active {
color: #13d1cf;
}

.nav_link:last-child {
margin-right: 0;
}

.nav_link:hover {
color: #13d1cf;
}


/* Intro */


.intro {
height: 670px;
min-height: 620px;


width: 100%;
background: url(../Images/intro/bg.jpg) center no-repeat;
background-size: cover;
position: relative;
}


.intro_inner {
max-width: 780px;
text-align: center;
margin: 0 auto;

position: absolute;
top: 230px;
right: 0;
left: 0;
z-index: 1;

}

.intro_title {
font-family: 'Playfair Display', serif;
font-weight: 900;
font-size: 32px;

color: #fff;
}


.intro_title::after {
content: "";
display: block;

width: 50px;
height: 1px;

background-color: #13d1cf;

margin: 27px auto;
}

.intro_suptitle {
width: 100%;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 14px;

color: #fff;

margin-bottom: 50px;
}

/* Button */

.btn {
display: inline-block;
vertical-align: top;

border-color: #13d1cf;

max-width: 120px;
max-height: 40px;

font-family: 'Hammersmith One', sans-serif;
font-weight: 400;
font-size: 15px;
text-transform: uppercase;

color: #13d1cf;
border: 1px solid #13d1cf;
border-radius: 2px;
text-decoration: none;

padding: 14px 14px;

line-height: 0.7;

transition: 0.1s;

}

.btn:hover {
color: #13d1cf;
background-color: #fff;

border-color: #fff;
}


/* Slider */

.slick-list {
cursor: pointer;
}

.slick-dots {
display: flex;
margin: 125px auto 0 auto;
padding: 0 0 0 46.5%;
} 

li::marker {
font-size: 0;
color: inherit;
}

.slide_btn_inner{
margin: 125px auto 0 auto;
}

.slide_btn, #slick-slide-control01, #slick-slide-control00, #slick-slide-control02, #slick-slide-control03  {
display: inline-block;
vertical-align: top;
text-decoration: none;

margin-right: 4px;

font-size: 0;
color: transparent;


width: 11px;
height: 11px;

border: 1px solid #fff;
border-radius: 6px;

transition: 0.1s;

}

#slick-slide-control01, #slick-slide-control00, #slick-slide-control02, #slick-slide-control03  {


background: none;
font-size: 0;
color: transparent;

padding: 0;
}

.slide_btn:last-child {
margin-right: 0;
}

.slide_btn:hover, #slick-slide-control01:hover, #slick-slide-control00:hover, #slick-slide-control02:hover, #slick-slide-control03:hover {
background-color: #13d1cf;
border-color: #13d1cf;
}

.slide_btn.active{
background-color: #13d1cf;
border-color: #13d1cf;
}

.slick-prev.slick-arrow {
display: none;
}


/* Story */

.story {
display: flex;
}

.story_text {
max-width: 600px;
}

.story_image {
margin: 0 70px;
}

.story_img {
display: block;
width: 100%;
height: auto;
max-width: 239px;
}

.story_title {
font-size: 22px;
font-family: 'Playfair Display', serif;
font-weight: 600;
color: #413d4b;
text-transform: uppercase;
}

.story_article {
font-size: 14px;
color: #97949c;
font-weight: 300;
}

.btn--story:hover {
background-color: #13d1cf;
border-color: #13d1cf;
color: #fff;
}

/* Story video */

.story_video {
height: 550px;
max-height: 550px;
width: 100%;    
background: url(../Images/story_video/story_bg.jpg) center no-repeat;
background-size: cover;

}

.container--video {
position: relative;
}


.control_inner {
position: absolute;

top: 200px;
left: 42%;
margin: 0 auto;
}

.control_play {
border: 4px solid #fff;
height: 100px;
width: 100px;
position: relative;
 
border-radius: 50%;
margin: 0 auto;

cursor: pointer;
}


/* Control play active */

.control_play.active .play {
height: 0px;
}


.control_play.active .play::before {
transform: rotate(90deg) translateX(-3px) translateY(0px);

left: 25px;
top: 2px;

}




.control_play.active .play::after {
    transform: rotate(90deg) translateX(-3px) translateY(0px);
    top: 50.2px;
    width: 48px;
    left: -45px;

    transform-origin: right top;
    }




.play {
    position: absolute;
    top: 23%;
    left: 33%;
    height: 49px;
    width: 45px;
    max-width: 45px;
    border-left: 4px solid #fff;
    border-radius: 0;


}


.play::before {
    content: "";
    width: 48px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    transform-origin: left top;
    transform: rotate(31.5deg) translateX(-3px) translateY(0px);

    left: 0.3px;

    transition: 0.2s;
}

.play::after {
    content: "";
    width: 47.6px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 90%;
    z-index: 1;
    border-radius: 5px;
    transform-origin: left bottom;
    transform: rotate(-31.5deg) translateX(-3.5px) translateY(0.5px);

    left: 0.3px;

    transition: 0.2s;



}


.control_play_text {
font-size: 16px;
font-weight: 900;
text-transform: uppercase;

margin-top: 33px;
}


/* EXtertise */


.extertise_header {
text-align: center;
}


.story--title--extertise {
margin-bottom: 7px;
line-height: 1;
}

.extertise_text {
font-size: 14px;
font-family: 'Playfair Display', serif;
font-weight: 400;

color: #a1a0a4;

margin-bottom: 80px;
}

.extertise_text::after {
content: "";
display: block;
width: 50px;
height: 2px;

background-color: #a1a0a4;

margin: 17px auto 0 auto;
}


.extertise_content {
display: flex;
flex-wrap: wrap;

justify-content: space-between;
}

.extertise_item {
text-align: center;

width: 27%;
}

.extertise_item_image {
margin-bottom: 33px;
}


.extertise_item_image--2 {
margin-bottom: 40px;
}


.ext_img {
display: block;
width: 100%;
height: auto;

max-width: 50px;
max-height: 50px;
margin: 0 auto;
}


.ext_img--3 {
max-width: 33px;
max-height: 48px;
}

.ext_img--5 {
    max-width: 43px;
    max-height: 48px;
    }

.extertise_item_title {
text-transform: uppercase;
font-size: 14px;
font-weight: 900;
color: #413d4b;

margin-bottom: 20px;
line-height: 1.0;
}


.extertise_item_text {
font-size: 14px;
font-weight: 300;

color: #97949c;
}


/* our_teem */


.extertise_header--teem {
margin-bottom: 48px;
}

.story--title--teem {
color: #fff;
line-height: 1.6;
}

.extertise_text--teem {
color: #f9f9f9;
}



.our_teem_inner {
display: flex;
justify-content: space-between;
}


.our_teem_item {
width: 23%;
max-width: 220px;
text-align: center;

cursor: pointer;

margin-bottom: 68px;
}


.teem_img {
display: block;
max-width: 100%;
max-height: auto;

height: 230px;
width: 220px;
}

.our_teem_item_text {
    font-family: 'Roboto', sans-serif;
    border: 2px solid #76768a;

    padding: 20px 0 23px 0;
    }


.team_item_title {
text-transform: uppercase;
font-size: 14px;
color: #fff;
font-weight: 900;
line-height: 1.4;
}

.team_item_subtitle {
font-size: 14px;
font-weight: 300;
color: #9998a9;
text-transform: uppercase;
}


.our_teem_footer {
text-align: center;
}

.teem_footer_text {
font-size: 14px;
font-weight: 300;

color: #fff;

margin-bottom: 30px;
}

.btn--teem {
    max-width: 140px;
}

/* Works */


.works {
text-align: center;
width: 100%;
max-width: 1600px;

}

.extertise_header--works {
display: flex;
justify-content: space-between;

margin-bottom: 70px;
}


.all_link {
text-decoration: none;
font-size: 14px;
font-weight: 300;

color: #a6a4ab;
transition: 0.1s;
}

.all_link:hover {
text-decoration: underline;
}


.works_all {
position: relative;
}


.works_all::after {
content: "";

display: block;

width: 9px;
height: 9px;

border-top: 2px solid #a6a4ab;
border-right: 2px solid #a6a4ab;

top: 8px;
left: 160px;
bottom: 0;
z-index: 1000;

transform: rotate(45deg);
position: absolute;
}



.works_content {
display: flex;
flex-wrap: wrap;

}

.works_image {
width: 16.666%;
cursor: pointer;
}

.works_image:hover {
    opacity: 0.7;
    }

.works_img {
display: block;
width: 100%;
height: auto;
max-width: 267px;
}

.btn--works {
max-width: 140px;
width: 140px;

margin: 70px 0 0 0 ;
}

.btn--works:hover {
background-color: #13d1cf;
border-color: #13d1cf;

color: #fff;
}


/* author_slide */

.author_slider {
background: url(../Images/author_slide/bg.jpg) center no-repeat;
background-size: cover;

width: 100%;
min-height: 500px;

}


.author_content {
text-align: center;
padding: 90px 0 68px 0;

position: relative;

}

.author_title {
font-size: 100px;
font-family: 'Playfair Display', serif;
font-weight: 400;
margin-bottom: 25px;

color: #fff;
}

.author_text {
font-size: 16px;
font-family: 'Playfair Display', serif;
font-weight: 400; 

color: #fff;

max-width: 780px;

margin: 0 auto;

letter-spacing: 0.37px;
}

.author_slide {
display: flex;

justify-content: space-around;
width: 100%;
max-width: 320px;
margin: 35px auto 0 auto;

}

.slide_header {
margin-top: 55px;
}

.slide_title {
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    
    text-transform: uppercase;
    }
    
    .slide_subtitle {
    font-size: 13px;
    font-weight: 300;
    
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    }

    
    .slide_item {
    margin-top: 10px;
    }

    .slide_item.active {
        margin-top: 0;
        }

    .slide_item.active .slide_img {
    max-width: 70px;
    margin: 0 auto;
    }


    .slide_img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 45px;
        
        margin: 0 auto;
        }


        .slick-ar {
            display: block;
            z-index: 2;
            
            border: 0;
            background: none;
            
            cursor: pointer;
            
            font-size: 0;
            color: transparent;
            
            position: absolute;
            top: 78%;
            transform: translateY(-78%);
            }
            
            .slick-ar::after {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            
            border-top: 2px solid #86848d;
            border-right: 2px solid #86848d;
            }
            
            .slickr--next {
            transform: rotate(45deg);
            left: 68.5%;
            }
            
            .slickr--prev {
                transform: rotate(-135deg);
                right: 68.5%;
                }


/* Reviews */

.reviews {
margin: 70px 0 70px 0;
}

.reviews_inner {
display: flex;
justify-content: space-between;
}

.reviews_form {
max-width: 460px;
width: 50%;

padding: 0 20px 0 10px;
}

.form_input {
display: block;

margin-bottom: 23px;
padding-left: 20px;

max-width: 460px;

width: 100%;
height: 45px;
font-family: 'Roboto', sans-serif;
font-weight: 300;

font-size: 14px;

color: #acabb1;

line-height: 24px;

border: 1px solid #acabb1;

outline: 0;
}

.form_input:focus {
border: 2px solid #13d1cf;
}

.form_input:first-child {
margin-top: 35px;
}

.form_input--textarea {
height: auto;
height: 200px;
max-height: 400px;
min-height: 70px;

resize: vertical;

padding: 20px;
}

.btn--submit {
width: 120px;
height: 45px;
background-color: #fff;
line-height: 0.8;
cursor: pointer;
}

.btn--submit:hover {
border-color: #13d1cf;
background-color: #13d1cf;

color: #fff;
}

.btn--submit:focus {
outline: 0;
}

/* Reviews logo */


.story_title--works--logo {
width: 100%;
}

.reviews_logo {
 max-width: 410px;
width: 50%;
    
}


.reviews_logo_inner {
display: flex;
flex-wrap: wrap;

padding: 0 20px 0 10px;

}

.reviews_image {
margin: 49px 75px 0 0;
width: 40%;

}

.reviews_image:nth-child(even) {
margin-right: 0;
}

.reviews_img {
display: block;
width: 100%;
max-width: 160px;
height: auto;

margin: 0 auto;
}

.reviews_img--nike {
max-width: 96px;
}



/* footer */

.footer {
padding-top: 68px;
background: url(../Images/footer/footer_bg.jpg) center no-repeat;
background-size: cover;
height: 400px;
width: 100%;
}


.footer_inner {
display: flex;
justify-content: space-between;
}

.footer_logo {
max-width: 320px;
padding: 0 10px;
}

.footer_text {
margin-top: 38px;
}

.footer_nav {
display: flex;
justify-content: space-between;

margin-top: 80px;
}

.footer_nav_item {
font-weight: 400;
text-transform: uppercase;
color: #fff;
text-decoration: none;
}

.footer_nav_item:hover {
text-decoration: underline;
}


.footer_studio {
padding: 12px 10px 0 10px;
max-width: 320px;
}


/* Footer_studio */

.studio_title {
font-weight: 900;
font-size: 15px;
text-transform: uppercase;

color: #fff;
}


.studio_text {
margin-top: 38px;
display: flex;
}

.studio_text_content {
text-decoration: none;
color: #fff;
}

.studio_text_content:hover {
text-decoration: underline;
}

.studio_phone {
margin-top: 23px;
}

.studio_link_phone {
text-decoration: none;
color: #fff;
}

.studio_link_phone:hover {
text-decoration: underline;
}

.fa-solid.fa-location-dot {
line-height: 1.4;
}

.fa-solid.fa-location-dot, .fa-solid.fa-phone-flip {
font-size: 16px;
margin-right: 15px;
}

/* footer_subsctibe */

.footer_subscribe {
    padding: 12px 10px 0 10px;
    max-width: 320px;
    }

.form_subscribe {
margin-top: 38px;
}

.subscribe_input {
width: 210px;
height: 45px;

font-family: 'Roboto', sans-serif;
font-weight: 300;

font-size: 14px;

padding-left: 15px;

background: none;
border: 1px solid #9e98b0;
outline: none;

transition: 0.1s; 
}

.subscribe_input:focus {
background-color: #fff;
}

.subscribe_button {
vertical-align: top;
font-size: 0;
color: transparent;  /*Прописываем эти свойства для кнопки */
border: 0;
background-color: #9b93ad;
opacity: 0.7;

width: 70px;
height: 45px;

padding: 0;

margin: 0;

cursor: pointer;

transition: 0.1s;

outline: 0;
}

.fa-regular.fa-paper-plane {
font-size: 24px;
opacity: 1;
color: #232227;
padding-right: 4px;
}

.subscribe_button:hover {
background-color: #13d1cf;
opacity: 0.9;
}

.subscribe_button:hover .fa-regular.fa-paper-plane {
color: #fff;
} 


.subscribe_social {
margin-top: 27px;
display: flex;
width: 100%;
max-width: 252px;

justify-content: space-between;
}

.social_item {
width: 35px;
height: 35px;
border: 2px solid #fff;

border-radius: 50%;

text-align: center;
}

.social_item i {
font-size: 15px;
color: #fff;
padding-top: 25%;
}


.social_link:hover .social_item {
background-color: #13d1cf;
border-color: #13d1cf;
}


.copyright {
font-weight: 400;
color: #fff;

margin-top: 66px;

text-align: right;
}
